/* CSS Document */
body{background:#666666}

.main_page{
width:1053px;
margin:auto;
}

.header_page{
width:1050px;
height:90px;
background:#FFFFFF;
}

.navigation_page{
width:1050px;
height:50px;
background-color:#330066;
margin:auto;
}

#link{
padding:0px;
line-height:36px;
margin-top:auto;
}
#link li{
list-style:none;
display:inline;
}

#link a{
text-decoration:none;
margin:10px;
padding:28px;
font-size:20px;
color:#FFFFFF;
}

#link a:hover{
text-decoration:none;
color:#660033;
font-weight:bolder;
}
.content_page{
width:1050px;
margin:auto;
background-color:#FFCCFF;
}


.left_content_page{
width:200px;
float:left;
background-color:black;
}
 .right_content_page{
width:850px;
float:right;
background-color:#996666;
}
#cart_right_content_page{
width:850px;
height:68px;
background-color:#999999;
margin-left:auto;
margin-top:auto;
}
#welcomepart_right_content_page{
float:left;
width:510px;
height:50px;
background-color:#33CCFF;
}
#search_right_content_page{
float:left;
width:320px;
height:50px;
background-color:#33CCFF;
margin-top:18px;
}
#welcome_right_content_page{
float:right;
width:190px;
height:50px;
background-color:#33CCFF;
font-size:28px;
color:#330000;
}

#itempart_right_content_page{
width:340px;
height:50px;
background-color:#33CCFF;
float:right;
color:#FFFFFF;
}
#item_right_content_page{
width:170px;
height:50px;
background-color:#33CCFF;
float:left;
font-size:24px;
margin-top:18px;

}


#price_right_content_page{
width:170px;
height:50px;
background-color:#33CCFF;
float:right;
color:#FFFFFF;
font-size:24px;
pedding-top:3px;
margin-top:18px;

}

/*.footer_page{
width:1050px;
height:100px;
margin:auto;
float:left;
}
*/

#sidebar_title{
background-color:#FFFFFF;
margin-top:20px;
font-size:25px;
color:#330000;
text-align:center;
}
#cat{
padding:5px;
line-height:36px;
margin-top:auto;
}
#cat li{
list-style:none;
margin:0px;
}

#cat a{
text-decoration:none;
margin:5px;
padding:25px;
font-size:17px;
color:#FFFFFF;
text-align:center;
}
#cat a:hover{
text-decoration:none;
color:#660033;
font-weight:bolder;
}


#sidebar_brand{
background-color:#FFFFFF;
margin-top:20px;
font-size:25px;
color:#330000;
text-align:center;
}
#brand{
padding:5px;
line-height:36px;
margin-top:0;
}
#brand li{
list-style:none;
margin:0px;
}

#brand a{
text-decoration:none;
margin:5px;
padding:25px;
font-size:17px;
color:#FFFFFF;
text-align:center;
}
#brand a:hover{
text-decoration:none;
color:#660033;
font-weight:bolder;
}
