/* CSS Document */
body{
background-color:#666666;}

.admin_main{

width:1000px;
height:620px;
background-color:#FFFFFF;


}

.admin_header{
width:1000px;
height:90px;
background:#CCFFFF;


}
.admin_content{
width:1000px;
height:430px;
background:#330000;


}
.admin_login{
padding:110px;


}
.admin_footer{
width:1000px;
height:auto;

}

