/* CSS Document */
body{
background:#9999FF;

}
.wraper{
width:1050px;
height:700px;
background-color:#00CC33;
}

.wraper_header{
width:1050px;
height:90px;
background-color:#CCCCCC;
}
.wraper_header1{
width:650px;
height:90px;
background-color:#CCCCCC;
float:right;

}

.wraper_header3{
width:400px;
height:90px;
background-color:#CCCCCC;
float:left;
}

/*.wraper_navigation{
width:1050px;
height:50px;
background-color:#CC6633;
float:left;
}

*/
.wraper_content{
width:1050px;
height:600px;
background-color:#003399;
}

.wraper_left_content{
width:180px;
height:600px;
background-color:black;
float:left;
}
.wraper_right_content{
width:870px;
height:600px;
background-color:#666666;
float:right;
}



.manage{
color:blak;
background-color:white;
font-size:22px;
margin:10px;
}

.admin{
padding:5px;
line-height:36px;
margin-top:auto;
}
.admin li{
list-style:none;
margin:0px;
}

.admin a{
text-decoration:none;
margin:5px;
padding:25px;
font-size:17px;
color:#FFFFFF;
text-align:center;
}
.admin a:hover{
text-decoration:none;
color:#660033;
font-weight:bolder;
}
